.slider-container {
   display: flex;
   align-items: center;
   width: 70%;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
}

.conIconsMain {
   display: flex;
   transition: transform 0.5s ease-in-out;
}

.conIconsMain > div {
   width: 100%; /* Adjust this value based on your requirements */
   box-sizing: border-box;
   text-align: center;
}

.slider-button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: none;
   border: none;
   font-size: 1.5em;
   cursor: pointer;
}

.slider-button:first-child {
   left: 0;
}

.slider-button:last-child {
   right: 0;
}
