<div class="nav">
    <div class="navTop">
        <span ><img src="/assets/airbnblogo.png"></span>
        <span class="navTopI">
            <a href="/">Stays</a>
            <a href="/">Experiences</a>
            <a href="/">Online Experiences</a>
        </span>
        <span class="navTopBtn flexR">
            <a href="/">Airbnb your home</a>
            <i class="fa fa-globe n" aria-hidden="true"></i>
            <div class="navTopBtnx">
                <div class="navTopBtnOpt flexR" dropB>
                    <i class="fa fa-bars" aria-hidden="true" dropB></i>
                    <div class="circle" dropB>
                        
                    </div>
                </div>
                <div class="navTopBtnOptC" dropB>
                    <a href="/">Messages</a>
                    <a href="/">Trips</a>
                    <a href="/">Wishlists</a>
                    <div class="sLine"></div>
                    <a href="/">Airbnb your home</a>
                    <a href="/">Account</a>
                    <div class="sLine"></div>
                    <a href="/">Help center</a>
                    <a href="/">Log out</a>
                </div>
            </div>
        </span>
    </div>
    <div class="navBottom">
        
    </div>
    <div class="lineDiv"></div>
</div>