body{
  margin: 0;
  padding: 0;
  text-align: center;
}
.c{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
}
.c img{
    height: 200px;
    width: auto;
}
.new{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: center; */
}
.card-text{
    text-align: start;
}