
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="main">
            <div class="content">
                
            </div>
            <div class="whiteText"> </div>
           
            <p>समक्ष</p>
            <div class="header">
                <p>भारत निर्वाचन आयोग,</p>
                <p>निर्वाचन सदन, अशोक रोड,</p>
                <p>नई दिल्ली-110001.</p>
            </div>
            <h1> <%= newdata.name %> </h1> 
            <p>
                मैं बहलफ़ बयान करता हूँ कि मेरा नाम - शिवम दुबे, पिता – बृजकिशोर, पता - ग्राम - समदपुर हरदास, पोस्ट - मोहान ,जिला – उन्नाव, विधानसभा क्षेत्र – 194 फर्रुखाबाद, जनपद - उन्नाव का निवासी हूँ ।
            </p>
            <ol>
                <li>मैं बहलफ़ बयान करता हूँ कि मैं राष्ट्रीय एकता पार्टी की एक सदस्य हूँ।</li>
                <li>मैं बहलफ़ बयान करता हूँ कि <%  %> क्रम संख्या - 132, भाग संख्या – 326, निर्वाचन संख्या - XVL2201051, विधानसभा क्षेत्र – 194 फर्रुखाबाद, का एक पंजीकृत निर्वाचक हूँ। </li>
                <li>मैं बहलफ़ ये बयान करता हूँ कि मैं भारत निर्वाचन आयोग के पास पंजीकृत किसी अन्य दल की सदस्य नहीं हूँ।</li>
                <li>मैं बहलफ़ बयान करता हूँ कि उक्त तथ्य मेरे इल्म जाति से सही व सत्य है।</li>
            </ol>
            <div class="futter">
                <div class="salutation">
                    <p>ईश्वर मेरी मदद करें ।</p>
                    <p>शपथी</p>
                    <p>शपथी</p>
                </div>
            </div>
        </div>
        

            
            

</body>
</html>


{
    "gender":"m",
    "pta":"मैं बहलफ़ बयान करता हूँ कि मेरा नाम प्रेमचन्द्र, पिता- महंगू, पता- केशवनगर, फैजुल्लागंज, विधानसभा क्षेत्र- 172 लखनऊ उत्तर, जनपद लखनऊ का निवासी हूँ।",
    "bhag":"भाग संख्या- 230",
    "kram":"",
    "vid":"UP/20/100/0555350",
    "vidhan":""
},{
    "gender":"m",
    "pta":" मैं बहलफ़ ये बयान करता हूँ कि मेरा नाम मंजूर, पिता का नाम- जलील, पता- म.सं. 6, ग्राम- जमीन रामराय, जिला- आजमगढ़, विधानसभा क्षेत्र- 217 लालगंज, जनपद- आजमगढ़ का निवासी हूँ।",
    "bhag":"",
    "kram":"",
    "vid":"XGN2192532",
    "vidhan":"351 लालगंज"
},{
    "gender":"m",
    "pta":" मैं बहलफ़ बयान करता हूँ कि मेरा नाम - संजेश सिंह, पिता- शारदा सिंह, ग्राम- बर्गदापुरवा, थाना- सांडी, तहसील- सवायजपुर, विधानसभा क्षेत्र - 154 सवायजपुर, जनपद- हरदोई का निवासी हूँ।",
    "bhag":"",
    "kram":"क्रम संख्या - 135,",
    "vid":"NYL2572006",
    "vidhan":"154 सवायजपुर"
}