<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post details</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="head">
        <h3>This is Blog App</h3>
        <a href="/">Write a new post</a>
    </header>
    <div class="postDetails">
        <img src="https://images.unsplash.com/photo-1529397938791-2aba4681454f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A dolores adipisci soluta perspiciatis eius dolore fuga nobis maxime officia. Illum dolorem veritatis temporibus cupiditate similique, cumque fugiat laborum necessitatibus eius neque dolore? Nobis, voluptate modi alias sequi, doloribus blanditiis mollitia vitae adipisci minus cupiditate porro id recusandae consectetur, ducimus laudantium tenetur! Dolorum at inventore eius dolore dolor temporibus necessitatibus ea.</p>
        <div>
            <span>@sanjayasd45 &nbsp;&nbsp;</span>
            <span>Date : 30/01/2024</span>
        </div>

    </div>

</body>
</html>