<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write post</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="head">
        <h3>This is Blog App</h3>
        <a href="/">Write a new post</a>
    </header>
    <div>
  
        <h3>Your post editor</h3>
        <form>
            <label for="">Your username</label><br>
            <input placeholder="Enter username"> <br><br>
            <label for="">Your Post detailes</label> <br>
            <textarea placeholder="Enter post content"></textarea><br><br>
            <button>Add post</button>
        </form>
    </div>
</body>
</html>