<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div class="nav">
            <div class="navTop">
                <span ><img src="/assets/airbnblogo.png"></span>
                <span class="navTopI">
                    <a href="/">Stays</a>
                    <a href="/">Experiences</a>
                    <a href="/">Online Experiences</a>
                </span>
                <span class="navTopBtn">
                    <a>Airbnb your home</a>
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <div class="navTopBtnOpt">

                    </div>
                </span>
            </div>
            <div class="navBottom">

            </div>
        </div>
        <div class="content">

        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>