<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <form method="POST" action="/<%=data._id%>?_method=PUT">
            <textarea placeholder="row1" name="r1"><%= data.r1  %></textarea> 
            <textarea placeholder="row2" name="r2"><%= data.r2  %></textarea> 
            <button>Save changes</button>
        </form>
    </div>
</body>
</html>