<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <form method="POST" action="/">
            <textarea placeholder="row1" name="r1"></textarea> 
            <textarea placeholder="row2" name="r2"></textarea> 
            <button>Submit</button>
        </form>
        <% for(i of data){ %>
            <div>
                <p><%= i.r1  %></p>
                <p><%= i.r2  %></p>
            </div>
            <a href="/<%=i._id%>/edit">Edit</a>
            <form method="POST" action="/<%=i._id%>?_method=DELETE">
                <button>Detele</button>
            </form>
        <% } %>
    </div>
</body>
</html>