<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <form method="POST" action="/">
            <input placeholder="gender" name="gender" value="m"><br>
            <textarea rows="3" cols="50" placeholder="row1" name="r1"></textarea><br> 
            <textarea rows="3" cols="50" placeholder="row2" name="r2"></textarea><br>
            <button>Submit</button>
            <a href="/print">Print</a>
        </form>
            <form method="GET" action="/">
                <input placeholder="Gender" name="gender">
                <button>Submit</button>
            </form>
        <% for(i of data){ %>
            <div class="data">
                <div >
                    <p><%= i.r1  %></p>
                    <p><%= i.r2  %></p>
                </div>
                <a href="/<%=i._id%>/edit">Edit</a>
                <form method="POST" action="/<%=i._id%>?_method=DELETE">
                    <button>Detele</button>
                </form>
            </div>
        <% } %>
    </div>
</body>
</html>